.container {
  width: 1170px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  flex-basis: calc(100% / 12);
}

.col-2 {
  flex-basis: calc(100% / 12 * 2);
}

.col-3 {
  flex-basis:calc(100% / 12 * 3);
}

.col-4 {
  flex-basis: calc(100% / 12 * 4);
}

.col-5 {
  flex-basis: calc(100% / 12 * 5);
}

.col-6 {
  flex-basis: calc(100% / 12 * 6);
}

.col-7 {
  flex-basis: calc(100% / 12 * 7);
}

.col-8 {
  flex-basis: calc(100% / 12 * 8);
}

.col-9 {
  flex-basis: calc(100% / 12 * 9);
}

.col-10 {
  flex-basis: calc(100% / 12 * 10);
}

.col-11 {
  flex-basis: calc(100% / 12 * 11);
}

.col-12 {
  flex-basis: 100%;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-start{
    justify-content: start;
}

.justify-content-end{
    justify-content: end;
}

.justify-content-between{
    justify-content: space-between;
}

.align-items-start{
    align-items: flex-start;
}

.align-items-center{
    align-items: center;
}

.align-items-end{
    align-items: flex-end;
}

.align-items-baseline{
    align-items: baseline;
}
