.my-tooltip {
  color: #fff;
  background-color: #4caf50;
  position: absolute;
  font-size: 13px;
  padding: 5px;
  border-radius: 4px;
  opacity: 0;
  transition: all 0.5s;
}

.my-tooltip::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
}

.my-tooltip.top::after {
  left: 42%;
  bottom: -10px;
  border-width: 10px 6px 0 6px;
  border-color: #4caf50 transparent transparent transparent;
}

.my-tooltip.right::after {
  left: -10px;
  top: 30%;
  border-width: 5px 10px 5px 0;
  border-color: transparent #4caf50 transparent transparent;
}

.my-tooltip.left::after {
  right: -10px;
  top: 30%;
  border-width: 6px 0 6px 10px;
  border-color: transparent transparent transparent #4caf50;
}

.my-tooltip.bottom::after {
  left: 42%;
  top: -10px;
  border-width: 0 5px 10px 5px;
  border-color: transparent transparent #4caf50 transparent;
}
