#gallery .photo a{
    display: flex;
    padding: 5px;
    max-width: 70px;
    text-decoration: none;
}

#gallery .photo a img{
    border: 5px solid #eee;
}

#gallery .photo a img:hover{
    border: 5px solid #777;
}

#gallery .photo a img.active{
    border: 5px solid #777;
}

#gallery .gallery-content{
 position: relative;   
}

#gallery .photo-show img{
    width: 400px;
    height: 600px;
    border: 5px solid #eee;
    position: absolute;
    left: 100px;
    top: 68px;
}

